@model UserViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <user-picture-thumbnail style="width:300px;" class="rounded" picture-url="@Model.PictureUrl"></user-picture-thumbnail>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Kullanıcı Bilgileri</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Email</th>
                    <th>Telefon</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.UserName</td>
                    <td>@Model.Email</td>
                    <td>@Model.Phone</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


