@using Microsoft.AspNetCore.Authorization

@{
    ViewData["Title"] = "Index";
}
@inject IAuthorizationService authorizationService

@if (authorizationService.AuthorizeAsync(User, "Permission.Order.Read").Result.Succeeded)
{
    <button class="btn btn-primary">Permission.Order.Read</button>
}
@if (authorizationService.AuthorizeAsync(User, "Permission.Order.Delete").Result.Succeeded)
{
    <button class="btn btn-primary">Permission.Order.Delete</button>
}
@if (authorizationService.AuthorizeAsync(User, "Permission.Stock.Update").Result.Succeeded)
{
    <button class="btn btn-primary">Permission.Stock.Update</button>
}


